h2 {
  text-align: center;
}

#details {
  border-style: groove;
  margin-left: 34%;
  margin-right: 34%;
  padding: 1%;
  background-color: orange;
}

#createUpdate {
  border-style: groove;
  margin-left: 30%;
  margin-right: 30%;
  padding: 1%;
  background-color: orange;
}

.buttonSpace {
  margin-right: 1%;
  margin-left: 1%
}

.span1 {
  display: inline-block;
  width: 35%;
}

.buttons {
  text-align: center;
}

#btnAddProduit{
  margin-top: 1%;
}
