<h2>Détails du produit sélectionné</h2>
<div id='details'>
  <div><span class='span1'>id : </span>{{produit.id}}</div>
  <div><span class='span1'>Texture : </span>{{produit.texture}}</div>
  <div><span class='span1'>Grammage : </span>{{produit.grammage}}</div>
  <div><span class='span1'>Couleur : </span>{{produit.couleur}}</div>
</div>
<br />

<h2>Création/Modification d'un produit</h2>
<div id='createUpdate'>
  <form [formGroup]="produitForm" (ngSubmit)="onSubmit()">

    <div> <span class='span1'>Nom: </span><input formControlName='nom' placeholder='nom'></div>
    <div> <span class='span1'>Id: </span><input formControlName='id' placeholder='id'></div>
    <div> <span class='span1'>Texture: </span><input formControlName='texture' placeholder='texture'></div>
    <div> <span class='span1'>Grammage: </span><input formControlName='grammage' placeholder='grammage'></div>
    <div> <span class='span1'>Couleur: </span><input formControlName='couleur' placeholder='couleur'></div>
    <br />
    <div class='buttons'>
      <button class="buttonSpace" idtype="submit" [disabled]="!produitForm.valid">Valider le changement</button>
      <button class="buttonSpace" type="button" (click)="onCancel()">Annuler l'édition en cours</button>
    </div>
    <div class='buttons'>
      <button id='btnAddProduit' class="buttonSpace" type="button" (click)="addProduit()">Ajouter un nouveau
        produit</button>
    </div>
  </form>
</div>
