#list {
  border-style: groove;
  background-color: hsla(120, 60%, 70%, 0.5);
  margin-top: 8%;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  border-radius: 20px;
}

div {
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

li {
  display: block;
}

li:hover {
  font-size: 200%;
}

a {
  text-decoration: none;
  color: black;
}

.selected {
  font-size: 200%;
}

#btnAddProduitList {
  text-align: center;
  background: rgb(30, 87, 34);
  background-image: -webkit-linear-gradient(top, rgb(17, 202, 57), rgb(30, 87, 34));
  background-image: -moz-linear-gradient(top, rgb(17, 202, 57), rgb(30, 87, 34));
  background-image: -ms-linear-gradient(top, rgb(17, 202, 57), rgb(30, 87, 34));
  background-image: -o-linear-gradient(top, rgb(17, 202, 57), rgb(30, 87, 34));
  background-image: linear-gradient(to bottom, rgb(17, 202, 57), rgb(30, 87, 34));
  border-radius: 20px;
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 100px;
  box-shadow: 1px 1px 20px 0px #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid rgb(30, 87, 34) 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin-top: 3%;
}

#btnAddProduitList:hover {
  background: rgb(17, 202, 57);
  background-image: -webkit-linear-gradient(top, rgb(30, 87, 34), rgb(17, 202, 57));
  background-image: -moz-linear-gradient(top, rgb(30, 87, 34), rgb(17, 202, 57));
  background-image: -ms-linear-gradient(top, rgb(30, 87, 34), rgb(17, 202, 57));
  background-image: -o-linear-gradient(top, rgb(30, 87, 34), rgb(17, 202, 57));
  background-image: linear-gradient(to bottom, rgb(30, 87, 34), rgb(17, 202, 57));
  text-decoration: none;
}
